.container__Contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container__InfoContact {
  width: 100%;
  height: 100%;
}
.container__InfoContact > a {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 32px;
  color: #5bccde;
}
.container__InfoContact > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #486a6f;
}
.Contact__Info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.Contact__Info > div > p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 20px;
  color: #486a6f;
}
.Contact__Info > div > p:nth-child(2) {
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 21px;
  color: #486a6f;
}
.container__Form {
  width: 95vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.container__Form > div {
  width: 60%;
  height: 100%;
  margin-bottom: 10px;
}
.container__Form > div > div {
  display: flex;
  flex-direction: column;
}
.container__Form1 > div > label {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 5px;
  color: #678c92;
}
.container__Form1 > div > input {
  padding: 10px;
  border: 2px solid #486a6f;
  border-radius: 3px;
}
.container__Form2 {
  display: flex;
  flex-direction: column;
}
.container__Form2 > label {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 5px;
  color: #678c92;
}
.container__Form2 > input {
  padding: 10px;
  border: 2px solid #486a6f;
  border-radius: 3px;
}
.container__Form2 > textarea {
  height: 200px;
  border: 2px solid #486a6f;
  border-radius: 3px;
}
.form > button {
  padding: 15px 55px;
  gap: 10px;
  border: none;
  background: linear-gradient(
      104.26deg,
      rgba(67, 151, 164, 0.2) 0.88%,
      rgba(91, 204, 222, 0.2) 99.89%
    ),
    #4397a4;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #f4f7ff;
  margin-bottom: 20px;
}
.container__CallUs {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 60px 0 131px 0;
}
.container__CallUs > div {
  width: 90%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #678c92;
  border-bottom: 1px solid #678c92;
}
.container__LinksCallUs {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.container__CallUs > div > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 48px;
  color: #486a6f;
}
.container__LinksCallUs > a:nth-child(1) {
  padding: 10px 30px;
  gap: 10px;
  background: linear-gradient(
      104.26deg,
      rgba(67, 151, 164, 0.2) 0.88%,
      rgba(91, 204, 222, 0.2) 99.89%
    ),
    #4397a4;
  border-radius: 3px;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 22px;
  color: #f4f7ff;
}
.container__LinksCallUs > a:nth-child(2) {
  padding: 10px 20px;
  gap: 10px;
  background: #c6dbff;
  border-radius: 3px;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 22px;
  color: #486a6f;
}
@media only screen and (min-width: 1024px) {
  .container__Contact {
    flex-direction: row;
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(42.43deg, #c6dbff 0%, #e1ebfa 52.25%);
    border-radius: 10px;
  }

  .container__Form {
    width: 70%;
  }
  .container__Form1 {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .container__Form1 > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .container__Form1 > div > label {
    text-align: start;
    margin: 0 0 10px 0;
  }
  .container__Form1 > div:nth-child(1) {
    margin-right: 10px;
  }
  .container__Form1 > div > input {
    min-width: 100%;
  }
  .container__Form1 {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: start;
  }
  .container__Form2 {
    min-width: 100%;
  }
  .container__Form2 > label,
  .container__Form2 > textarea {
    margin: 10px 0 10px 0;
    text-align: start;
  }
  .container__InfoContact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Contact__Info {
    flex-direction: row;
    text-align: start;
  }
  .Contact__Info > div {
    margin-left: 10px;
    align-items: center;
    align-content: center;
  }
  .container__CallUs > div > h2 {
    font-size: 3.6rem;
  }
  .container__LinksCallUs {
    width: 30%;
  }
  .container__LinksCallUs > a:nth-child(1) {
    padding: 15px 55px;
    font-size: 1.6rem;
  }
  .container__LinksCallUs > a:nth-child(2) {
    padding: 15px 55px;
    font-size: 1.6rem;
  }
}
